@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
    background-color: #B7C7C2;
}

.nav-link {
    color:aqua
}
.navbar-nav .nav-link.active {
    color:rgb(153, 153, 153)
}

.navbar-brand img {
    width: 45px;
}

.navbar-toggler {
    background-color: aliceblue;
}

.sidebar {
    font-size: 30px;
    font-family: 'Press Start 2P', serif;
}

.navborder {
    border-style: solid;
    padding-right: 44px;
}

.card {
    background-color: rgb(227, 241, 240);
}
.col-lg-6>p {
    font-size: 40px;
}

.slide-text {
    margin: auto auto;
}

.footer-text {
    font-size: 30px;
    margin: auto auto;
}

.footer-back {
    background-color: grey;
}

.sosial {
    display: flex;
    justify-content: center;
    align-items: center;
}